a {
    color: #888;
    background-color: #fff;
    padding: 5px;
}

th {
    white-space: nowrap;
    font-weight: 500;
  }

a:hover {
    color: #222;
}

input:disabled {
    border: 2px solid #222;
}

.completed {
    text-align: center;
}